html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

.error-message {
    border: 1px solid;
}

.note {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    margin: 4px
}